[project]
	description = Project to demo basic file transfer using spring integration 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/abdulmohsin
[access "refs/for/refs/*"]
	read = group user/abdulmohsin
	push = group user/abdulmohsin
	label-Code-Review = -2..+2 group user/abdulmohsin
	label-Verified = -1..+1 group user/abdulmohsin
	rebase = group user/abdulmohsin
	removeReviewer = group user/abdulmohsin
	submit = group user/abdulmohsin
[access "refs/heads/*"]
	read = group user/abdulmohsin
	create = group user/abdulmohsin
	push = +force group user/abdulmohsin
	pushMerge = group user/abdulmohsin
[access "refs/tags/*"]
	push = group user/abdulmohsin
	push = +force group user/abdulmohsin
